* {
    font-family: 'Roboto';
}
body{
    background-color: grey;
}
/* Estilo do navbar*/
/*.navbar{
    border-radius: 0px 0px 10px 10px;
}*/
.nav-link,
.navbar-brand {
    color: white !important;
}

#navbar img{
    width: 70px;
    margin-left: 1rem;
}

/* Estilo do topo*/
img-fluid{
    position: relative !important;
}

.form-control-custom{
    position: absolute !important;
    width: 40rem;
}

.search-custom{
    margin-left: auto;
    margin-right: auto;
    margin-top: -500px;
    color: white;
}
.label-custom{
    margin-left: 200px;
}
.input-custom{
    width: 40rem !important;
}

.msg-custom{
    position: absolute;
    color: white;
    margin-top: 1rem;
    background-color: rgb(35, 148, 35);
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Responsividade */
@media only screen and (max-width: 800px){
    .label-custom{
        margin-left: 60px;
    }
    .search-custom{
        margin-top: -200px;
        margin-left: 100px;
    }
    .form-control{
        position: absolute !important;
        width: 20rem !important;
    }
}

/* Estilo do alerta*/
.alert-custom{
    align-items: center !important;
    align-self: center !important;
    text-align-last: center !important;
    position: absolute !important;
}

/* Estilo dos Cards*/
.container-custom{
    background-image: linear-gradient( to bottom ,transparent, #0F0F0F, blue 90%, transparent 100%);
    margin-top: 20rem;
    margin-bottom: 1rem;
    padding-top: 4rem !important;
    padding-bottom: 2rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-radius: 10px;
}

.image-custom{
    height: 12rem;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 10px;
}

.border{
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
}

/* Estilo das informações*/
.image-user{
    border-radius: 3rem 3rem 3rem 3rem;
    width: 30rem;
    height: 25rem;
}

li {
    list-style-type: none !important;
}

ion-icon{
    color: rgb(139,0,0);
}

.space-custom{
    margin-top: 1rem;
}

.custom-show{
    padding-top: 2rem;
    padding-bottom: 6rem !important;
    margin-top: 0rem;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}
custom-descripton{
    margin-top: 20px;
}

.custom-form{
    
}

.form-control-custom{
    width: 50rem !important;
}

/* Estilo do footer*/
.footer{
    align-items: center !important;
    align-self: center !important;
    text-align-last: center !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #ffffff !important;
    border-radius: 10px 10px 0px 0px;
    bottom:0;
}